NEXT_PUBLIC_QUIZZES=[{"questionNo":1,"question":"What is a potato?","answer":"vegetable","points":5,"imageUrl":"","hint":"type"},{"questionNo":2,"question":"What is the capital of France?","answer":"Paris","points":10,"imageUrl":"","hint":"city"}]
